#map {
    height: calc(100vh - 152px); /* 100% of the viewport height - navbar height */
    width: 100%;
}
#stations_table {
    height: calc(100vh - 152px); /* or any value */
    overflow-y: auto;
}


.status_row{
    height:100px;
}
.value{
    display:none;
}
.ocultar{
    display:none;
}

#data_table tbody .status_row:hover{
    background:#ffff99;
}


.even {
    background-color: papayawhip;
    
}

.odd{
    background-color:lavender;
}
