
{% if is_paginated %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <!-- previuos -->
       {% if page_obj.has_previous %}
       <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Próxima</a>
       {% else %}
       <a class="pagination-previous" href="">Próxima</a>
       {% endif %}
       <!-- next -->
       {% if page_obj.has_next %}
       <a  class="pagination-next" href="?page={{ page_obj.next_page_number }}">Anterior</a>
       {% else %}
       <a  class="pagination-next" href="">Anterior</a>
       {% endif %}


       <!-- list -->
       <ul class="pagination-list">
           {% for i in paginator.page_range %}
           {% if  page_obj.number == i %}
           <li><a class="pagination-link is-current"
                  aria-label="Ir a página {{i}}"
                  aria-current="page"
                  href="?page={{ i }}">{{ i }}</a></li>
           {% else %}
            <li><a class="pagination-link is"
                   aria-label="Página {{i}}"
                   href="?page={{ i }}">{{ i }}</a></li>

          {% endif %}
        {% endfor %}
       </ul>
{% endif %}



