{% load static %}
{% load new_tags %}
{% load filter_numeric %}


<!-- css para detail protocol -->
{% block special_css %}

{% endblock %}
<table class="table is-borderer is-striped is-hoverable">
    <thead>
        <tr>
            <th>Campo</th>
            <th>Valor</th>        
        </tr>
    </thead>
    <tbody>
        {% for field, value in element.items %}
        {% if value %}
        {% if not condition_fields|get_item:field and field not in omit %}
        <tr>

            <td>{{field|title}}</td>
            <td>{{value}}</td>
        </tr>
        {% elif field not in omit %}
        <tr>
            {% if condition_fields|get_item:field == "img" %}
            <td>{{field|title}}</td>
            <td><img class="field_img" src="{{ MEDIA_URL }}{{ value }}"></td>
            {% elif condition_fields|get_item:field == "file" %}
            <td>{{field|title}}</td>
            <td><a href="value.url">Descargar</a></td>
            {% elif condition_fields|get_item:field == "url" %}
            <td>{{field|title}}</td>
            <td><a href="{{value}}">Ver web</a></td>
            {% elif condition_fields|get_item:field == "fk" %}
            <td>{{field|title}}</td>
            <td><a href="{{value.get_absolute_url}}">{{value.identify}}</a></td>
            {% elif condition_fields|get_item:field == "float" %}
            <td>{{field|title}}</td>
            {% with val_float=condition_args|get_item:"var_float" %}
            <td>{{value|floatformat:val_float}}</td>
            {% endwith %}
            {% elif condition_fields|get_item:field == "html" %}
            <td>{{field|title}}</td>
            <td>{{value|safe}}</td>
            {% elif condition_fields|get_item:field == "key_list" %}
            <td>{{field|title}}</td>
            <td>
                <ol>
                    {% for key, elem in value.items %}
                    <li>{{key|title}}:
			{% with val_float=condition_args|get_item:"var_float" %}
			{{elem|floatformat:val_float}}
			{% endwith %}
		    </li>
                    {% endfor %}
                </ol>
            </td>
            {% elif condition_fields|get_item:field == "m2m" %}
            <td>{{field|title}}</td>
            <td>
              {% for elem in value.all %}
              <p><a href="{{elem.get_absolute_url}}">{{elem}}</a></p>
              {% endfor %}
            </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>
