{% load humanize %}
<!-- param object_list -->

<!-- param title_list -->
<article class="columns">
    <div class="column"></div>
    <div class="column">
        <h3 class="title is-3">{{title_list|title}}</h3>

        <table class="table is-borderer is-striped is-hoverable">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Identificador</td>
                    <td>Link</td>
                </tr>
            </thead>
            {% for elem in element_list %}
            <tr class="table-models-item">
                <td>{{elem.id}}</td>
                <td>{{elem.identify}}</td>
                <td><a href="{{elem.get_absolute_url}}">Detalle</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column"></div>
</article>

