<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>

    <!doctype html>
    <!--[if lt IE 7]>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>
        <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!-->

    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{% block title %}{% endblock %}</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="shortcut icon"
                  href="{% static 'img/icon.png' %}"
                  type="image/svg+xml" sizes="any">

            {% block top_front_frameworks %}
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'bulma/css/main.css' %}">
            {% endblock %}


            {% block head_css %}
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/principal.css' %}">
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/menu_nav.css' %}">
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/footer.css' %}">
            {% endblock %}

            <!-- Bloque para añadir js extra en header-->
            {% block head_javascript %}
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            {% endblock %}

            {% block special_css %}
            {% endblock %}

            <style>

             
            </style>
    </head>

    <body>
            {% include 'menu_nav.dj.html' %}

        <main id="{% block main_tag_id %}{% endblock main_tag_id %}"
            class="container is-widescreen">
            {% block content_article %}
            {% endblock content_article %}
        </main>

            <!-- Elemento Inferior dentro de bloque body-->


            <footer class="footer has-background-info">
                <!-- cargar el html de la zona de contacto -->
                {% include 'contacto.dj.html' %}


                <!-- Añadir CSS Extra en footer -->
                {% block footer_css %}
                {% endblock %}

                <!-- Añadir JS extra en footer -->
                {% block footer_javascript %}
                {% endblock %}


                <!-- block to load framework -->
                {% block buttom_front_frameworks %}
                {% endblock %}

                <script id="auth_token">{{token_auth}}</script>
            </footer>

    </body>

</html>
