<div class="content columns">
  <section class="column">
      <p><a href="/contacto">Contáctanos</a></p>
  </section>

  <section class="column">
      <p>Realizado con:</p>
      <ol>
          <li><a href="https://www.djangoproject.com/">Django
              Framework</a></li>
          <li>el sistema operativo <a
                                       href="https://www.debian.org/index.es.html">GnuLinux
              Debian</a></li>
      </ol>
  </section>

  <section class="column">
  </section>
</div>

