<ul class="navbar-dropdown"" for="select-info">
    <li class="navbar-item">Protocolos</li>
    <li class="navbar-item">Databases</li>
    <li class="navbar-item">Equipos</li>
    <li class="navbar-item">Estaciones</li>
</ul>
