{% load static %}
<nav id="main_header" class="navbar is-success" role="navigation" aria-label="main navigation">
  <!-- Brand -->
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{% static 'img/ico.svg' %}" style="width:50px;height:auto;"/>
        Blorgs Network
      </a>

      <!-- Burger -->
      <!-- Poner menú hamburguesa -->
    </div>

    <!-- Nav menu -->
    <div id="navbarGNSS" class="navbar-menu">
    </div>
</nav>
