<a  class="navbar-item" title="Inicio" href="/">Inicio</a>
<a id="select-info" class="navbar-item">
    Información
</a>
<a  class="navbar-item" title="Contacto" href="/contacto">Contacto</a>
{% include 'dropdown_menu_content.dj.html' %}
