/*
Para histogramas
*/

.bar {
	  fill: steelblue;
	}

.bar:hover {
  fill: lightsalmon;
}

.x-axis line {
  stroke: #000;
}

.x-axis .minor {
  stroke-opacity: .5;
}


.y-axis line,
.y-axis path {
  fill: none;
  stroke: #000;
}

.line {
    fill: none;
    stroke-width: 1;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.tooltip{
    text-align: left;
    padding: .2rem;
    background:  #F0F8FF;
    color: #313639;
    width: 200px;
    border: 1px solid #313639;
    border-radius: 2px;
    pointer-events: none;
    font-size: 1.5rem;
}

.axis_label{
    font-size: 9px;
}

.axis text{
    font-size: 6px;
}

.tp.name{
    background: #7FFFD4 ;
    z-index: 20;
    padding:5px;
    text-align: center;
}

/*
square-time-connected
*/
