{% extends 'base.dj.html' %}

{% block content_article %}
<div class="title is-2">
Lista de Blogs al día: {{utc|date}}
</div>
<h1 class="title is-3">Repositorios</h1>
<ul>
{% for repository in object_list %}
    <li>{{ repository.name }} - {{ repository.url }}</li>
{% empty %}
    <li>No repositories yet.</li>
	{% endfor %}
</ul>

{% endblock %}
